<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665209920630-kfh01sdprc5l6651rn9h5ujk43deio13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665209920630-kfh01sdprc5l6651rn9h5ujk43deio13</string>
	<key>API_KEY</key>
	<string>AIzaSyC9AE-iklCIVRmtduwwG2OOt07OPBMIJAk</string>
	<key>GCM_SENDER_ID</key>
	<string>665209920630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farukkisik.QRCheckOut</string>
	<key>PROJECT_ID</key>
	<string>qrcheckout-909b7</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcheckout-909b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665209920630:ios:bd3d552f97bc56cd969357</string>
</dict>
</plist>